<p-tabView>
    <p-tabPanel class="DinM" header="لوحة التحكم">
        <div class="PanelTab">
            <div class="sideMenu">
                <img class="UserAvatar" src="../../../assets/images/userpng.png">
                <span class="UserName">ابراھيم طارق محمد</span>
                <span class="Description">الصف الثاني المتوسط</span>
                <!-- <p-menu [model]="items"></p-menu> -->
                <p-tabView class="Sub">
                    <p-tabPanel header="نظرة عامة" leftIcon="SIcomoon icon-Fill-1184">
                        <app-programs></app-programs>
                    </p-tabPanel>
                    <p-tabPanel header="البرامج" leftIcon="SIcomoon icon-Fill-1004">
                        <app-general-view></app-general-view>
                    </p-tabPanel>
                    <p-tabPanel header="المسابقات" leftIcon="SIcomoon icon-Fill-978">
                        Content
                    </p-tabPanel>
                    <p-tabPanel header="استفسارتى" leftIcon="SIcomoon icon-Fill-978">
                        Content
                    </p-tabPanel>
                    <p-tabPanel header="مدفوعاتى" leftIcon="SIcomoon icon-Fill-978">;
                        Content
                    </p-tabPanel>
                    <p-tabPanel header="درجاتى" leftIcon="SIcomoon icon-Fill-978">;
                        Content
                    </p-tabPanel>
                    <p-tabPanel header="تقويم الطالب" leftIcon="SIcomoon icon-Fill-978">;
                        Content
                    </p-tabPanel>
                    <p-tabPanel header="الاعدادات" leftIcon="SIcomoon icon-Fill-1157">;
                        Content
                    </p-tabPanel>
                </p-tabView>
                
            </div>
        
        </div>
    </p-tabPanel>
    <p-tabPanel class="DinM" header="بياناتى الشخصية">
        <div class="PanelTab PersonalInfo">
            <div class="BannerCont">
                <img class="UserAvatar" src="../../../assets/images/userpng.png">
                <span class="UserName">ابراھيم طارق محمد</span>
                <span class="Description">الصف الثاني المتوسط</span>
                <button pButton type="button" label="تغيير كلمة المرور"></button>
                <div class="UploadBtnCont">
                    <span class="UploadBtn"></span>
                    <span class="addImg">أضف صورة بانر</span>
                </div>
            </div>
            <div class="DataCont">
                <div class="TitleCont">
                    <span>البيانات الشخصية</span>
                </div>
                <div class="DataGroupContainer Fi">
                    <div class="DataGroup">
                        <span>اسم المستخدم بالعربية</span>
                        <span>ابراھيم طارق محمد الدوسري</span>
                    </div>
                    <div class="DataGroup">
                        <span>اسم المستخدم بالانجليزية</span>
                        <span>Ibrahim Tariq Muhammad Al-Dossary</span>
                    </div>
                    <div class="DataGroup">
                        <span>الجنسية</span>
                        <span>سعودي</span>
                    </div>
                    <div class="DataGroup">
                        <span>النوع</span>
                        <span>ذكر</span>
                    </div>
                    <div class="DataGroup">
                        <span>مدينة الاقامة</span>
                        <span>الرياض</span>
                    </div>
                    <div class="DataGroup">
                        <span>رقم الهوية</span>
                        <span>1046403927</span>
                    </div>
                </div>
            </div>
            <div class="DataCont">
                <div class="TitleCont">
                    <span>بيانات التواصل</span>
                    <button pButton type="button" label="تعديل"></button>
                </div>
                <div class="DataGroupContainer">
                    <div class="DataGroup">
                        <span>البريد الإلكتروني</span>
                        <span>Fahd.dossari@gmail.com</span>
                    </div>
                    <div class="DataGroup">
                        <span>رقم الجوال</span>
                        <span>+966-523423423</span>
                    </div>
                    <div class="DataGroup">
                        <span>رقم الهاتف الثابت</span>
                        <span>523423423</span>
                    </div>
                </div>
            </div>
            <div class="DataCont">
                <div class="TitleCont">
                    <span>البيانات الدراسية</span>
                    <button pButton type="button" label="تعديل"></button>
                </div>
                <div class="DataGroupContainer">
                    <div class="DataGroup">
                        <span>المنطقة الادارية</span>
                        <span>الرياض</span>
                    </div>
                    <div class="DataGroup">
                        <span>ادارة التعليم</span>
                        <span>إدارة تعليم الرياض بنين</span>
                    </div>
                    <div class="DataGroup">
                        <span>إدارة تعليم الرياض بنين</span>
                        <span>متوسط</span>
                    </div>
                    <div class="DataGroup">
                        <span>نوع المدرسة</span>
                        <span>حكومى</span>
                    </div>
                    <div class="DataGroup">
                        <span>اسم المدرسة باللغة العربية</span>
                        <span>مدرسة الأمير سلطان بن عبد العزيز</span>
                    </div>
                    <div class="DataGroup">
                        <span>اسم المدرسة باللغة الإنجليزية</span>
                        <span>Prince Sultan Bin Abdulaziz School</span>
                    </div>
                    <div class="DataGroup">
                         <span>الصف الدراسى</span>
                         <span>الصف الثاني</span>
                    </div>
                    <div class="DataGroup">
                         <span>المسار الدراسى</span>
                         <span>علمى</span>
                    </div>
                </div>
            </div>
            <div class="DataCont">
                <div class="TitleCont">
                    <span>بيانات ولى الامر</span>
                    <button pButton type="button" label="تعديل"></button>
                </div>
                <div class="DataGroupContainer">
                    <div class="DataGroup">
                        <span>اسم ولى الامر</span>
                        <span>طارق محمد ابراھيم</span>
                    </div>
                    <div class="DataGroup">
                        <span>صلة القرابة</span>
                        <span>الاب</span>
                    </div>
                    <div class="DataGroup">
                        <span>وظيفة ولى الامر</span>
                        <span>مهندس</span>
                    </div>
                    <div class="DataGroup">
                        <span>جوال ولى الامر</span>
                        <span>+966-523423423</span>
                    </div>
                    <div class="DataGroup">
                        <span>هاتف منزل ولى الامر</span>
                        <span>523423423</span>
                    </div>
                    <div class="DataGroup">
                        <span>البريد الالكتروني لولى الامر</span>
                        <span>Fahd.dossari@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="DataCont">
                <div class="TitleCont">
                    <span>البيانات البنكية</span>
                    <button pButton type="button" label="تعديل"></button>
                </div>
                <div class="DataGroupContainer">
                    <div class="TwoDataGroups">
                        <div class="DataGroup">
                            <span>اسم البنك</span>
                            <span>مصرف الراجحي</span>
                        </div>
                        <div class="DataGroup">
                            <span>اسم الفرع</span>
                            <span>فرع الرياض</span>
                        </div>
                    </div>
                    <div class="DataGroup">
                        <span>رقم الحساب</span>
                        <span>0002 0177770 0104</span>
                    </div>
                    <div class="DataGroup">
                        <span>مدينة الاقامة</span>
                        <span>الرياض</span>
                    </div>
                    <div class="DataGroup">
                        <span>رقم الاّيبان</span>
                        <span>AD10464039104640392727</span>
                    </div>
                    <div class="DataGroup">
                        <span>اسم صاحب الحساب</span>
                        <span>طريق الامام سعود بن عبدالعزيز بن محمد</span>
                    </div>
                    <div class="DataGroup">
                        <span>مدينة صاحب الحساب</span>
                        <span>الرياض</span>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel class="DinM" header="الميول الدراسية">
        Content 3
    </p-tabPanel>
</p-tabView>
