body,
html, html *{
  font-family: "DIN Next LT Arabic";
  direction: rtl;
  text-align: right;
}
.Mwheba .gallery {
  padding: 1em;
}

.Mwheba .w100{
  width: 100%;
  display: inline-block;
}
.Mwheba .mT20{
  margin-top: 20px;
}

.Mwheba .container {
  max-width: calc(100% - 100px);
  width: calc(100% - 100px);
  margin: 0 50px;
}

.Mwheba .mBtn{
 height: 54px;
 font-size: 16px;
 padding: 10px 40px;
 -webkit-border-radius: 35px;
-moz-border-radius: 35px;
border-radius: 35px;
line-height: 26px;
display: inline-block;
}
.Mwheba .btn-black{
  background-color:#1E2432;
  color:#ffffff;
  border: 2px solid #1E2432;
}
.Mwheba .btn-black:hover{
  background-color:#0e111a;
  color:#ffffff;
  border: 2px solid #0e111a;
}
.Mwheba .btn-red{
  background-color:#FF523E;
  color:#ffffff;
  border: 2px solid#FF523E;
}
.Mwheba .btn-red:hover{
  background-color:#cf3b2a;
  color:#ffffff;
  border: 2px solid #cf3b2a;
}
.Mwheba .btn-white{
  background-color:#ffffff;
  color:#1E2432;
  border: 2px solid #f1f1f1;
}
.Mwheba .btn-white:hover{
  background-color:#f1f1f1;
  color:#0e111a;
  border: 2px solid #f1f1f1;
}
.Mwheba .btnShadow{
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.05);
box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.05);
}

.Mwheba .btn-transparent{
  background-color:transparent;
  color:#1E2432;
  border: 2px solid #c9caca;
}
.Mwheba .btn-transparent:hover{
  background-color:#ffffff;
  color:#0e111a;
  border: 2px solid #c9caca;
}
.Mwheba .videoPlayerHolder{
  width: 480px;
  height: 320px;
  display: inline-block;
  float: left;
  position: relative;
  margin: 30px;
}
.Mwheba .videoPlayerHolder.two{
  width: 100%;
  height: auto;
  padding-top: 50%;
  display: inline-block;
  float: none;
  position: relative;
  margin: 0px;
}
.Mwheba .videoPlayerHolder.two .vidThumb{
  width: 100%;
  height: calc( 100% + 5px );
  object-fit: cover;
  display: inline-block;
  position: absolute;
  top: 0;
}
.Mwheba .videoPlayerHolder.two.successStories .vidThumb{
  width: 100%;
  height:100%;
}
.Mwheba .imageHolder{
  width: 100%;
  height: auto;
  padding-top: 50%;
  display: inline-block;
  float: none;
  position: relative;
  margin: 0px;
}
.Mwheba .imageHolder .eventDate{
  position: absolute;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 70px;
  background-color: #f1f1f1;
  z-index: 9;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.Mwheba .imageHolder .eventDate .eDay{
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 10px;
}
.Mwheba .imageHolder .eventDate .eMonth{
  font-size: 14px;
  line-height: 10px;
}
.Mwheba .imageHolder .eventDate span{
  width: 100%;
  display: inline-block;
  text-align: center;
}
.Mwheba .imageHolder .imgThumb{
  height: calc( 100% + 5px );
  object-fit: cover;
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  height:100%;
}

.Mwheba .videoPlayerHolder.two .videoTitle{
  position: absolute;
  color: #ffffff;
  bottom: 0;
  z-index: 9;
  text-align: right;
  font-size: 16px;
  padding: 5px 15px;
  display: none;
}
.Mwheba .videoPlayerHolder *[class*="play"]{
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
text-align: center;
line-height: 80px;
-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
color:#0099FF;
z-index: 9;
}
.Mwheba .videoPlayerHolder *[class*="play"]:hover{
  background-color: #f1f1f1;
  text-decoration: none;
}
.Mwheba .videoPlayerHolder .vidThumb{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}
.Mwheba .videoPlayerHolder .path1,
.Mwheba .videoPlayerHolder .path2{
  position: absolute;
}
.Mwheba .videoPlayerHolder .path1{
  top:-30px;
  right: -30px;
  width: 80px;
  height: auto;
}
.Mwheba .videoPlayerHolder .path2{
  bottom:-30px;
  left: -30px;
  width: 100px;
  height: auto;
}



/* video */
.Mwheba #videCont{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: auto;
  max-width: 720px;
  height: 0;
  height: auto !important;
}
.Mwheba *[id*="vidBox"]{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index:99999;
  display: none;
}
.Mwheba *[id="vidBox"] video{
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  opacity: 1 !important;

}
.Mwheba *[id*="vidBox"] .icon-cancel-circle{
  font-size:30px;
  color:#ffffff !important;
  position:absolute;
  top:15px;
  right:20px;
}
.Mwheba *[id*="vidBox"] .icon-cancel-circle:hover{
  text-decoration: none;
}
/* end of video */
.Mwheba .Arial{
  font-family: Arial, Helvetica, sans-serif;
}





/********************************/
.Mwheba .box{
  width: 100%;
  display: inline-block;
  -webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.12);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.12);
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.12);
margin-top: 0;
margin-bottom: 0;
-webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.Mwheba .box:hover{
  margin-top: -10px;
  margin-bottom: 10px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.Mwheba .moveUp img{
margin-top: 0;
margin-bottom: 0;
-webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.Mwheba .moveUp:hover img{
  margin-top: -10px;
  margin-bottom: 10px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.Mwheba .box.white{
  background-color: #ffffff;
}

.Mwheba .box.white .programsContestsContent{
  padding: 40px 30px;
}
.Mwheba .box.white .programsContestsContent span{
  width: 100%;
  display: inline-block;
  color: #000000;
  margin-top: 10px;
}
.Mwheba .box.white .programsContestsContent span.r000 img{
  height: 75px;
  width: auto;
  }
  .Mwheba .box.white .programsContestsContent span.r000{
    margin-bottom: 10px;
  }
.Mwheba .box.white .programsContestsContent span.r001{
font-size: 16px;
}
.Mwheba .box.white .programsContestsContent span.r002{
  font-size: 26px;
}
.Mwheba .box.white .programsContestsContent span.r003{
  font-size: 15px;
  color:#888888;
}
.Mwheba .box.white .programsContestsContent span.r004{
  color:#1E2432;
  font-size: 17px;
}
.Mwheba .box.white .programsContestsContent span.r004 b{
  color:#000000;
  font-size: 26px;
}
.Mwheba .box.white .programsContestsContent span.r005{
  font-size: 14px;
  color:#888888;
}

.Mwheba .col-auto.box{
  padding-left: 0;
  padding-right: 0;
}
.Mwheba .mwhebaTabs{
  margin-top: 22px;
}
.Mwheba .mwhebaTabs .nav-link{
  color: #000000;
  font-size: 18px;
}
.Mwheba .mwhebaTabs .nav-link~.helper,
.Mwheba .mwhebaTabs .nav-link.active~.helper{
width: 90%;
height: 2px;
margin: 0 5%;
display: inline-block;
vertical-align: top;
}
.Mwheba .nav-item{
  margin: 0 15px;
  position: relative;
}
.Mwheba .nav-item .nav-link:after{
  display: none;
}
.Mwheba .nav-item .dropdown-menu{
  background-color: #1A4AB9;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: none;
padding: 15px;
}
.Mwheba .nav-item .dropdown-menu *{
  text-align: right;
}
.Mwheba .nav-item .dropdown-item{
  color: #ffffff;
}
.Mwheba .nav-item .dropdown-item:hover{
background-color: rgba(0,0,0,0.05);
}
.Mwheba .mwhebaTabs .nav-link~.helper{
  background-color: transparent;
}
.Mwheba .mwhebaTabs .nav-link.active~.helper{
  background-color: #cccccc;
}
.Mwheba .mwhebaTabs .nav-link~.helper .blue{
  width: 0%;
  height: 2px;
  background-color: #0099FF;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  }
  .Mwheba .mwhebaTabs .nav-link:hover~.helper .blue{
    width: 100%;
    -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
    }
  .Mwheba .eventBox{
    width: 350px;
    display: inline-block;
    -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 50px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 5px 50px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 5px 50px 0px rgba(0,0,0,0.12);
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    background-color:rgba(255,255,255,0.85);
    padding: 15px;
    margin-left: 30px;
    margin-top: -5px;
    display: none;
  }
  .Mwheba .eventBox:after{
    content: "";
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid rgba(255,255,255,0.85);
  position: absolute;
  top: 15px;
  left: 0;
  margin-left:-10px;
  }
  .Mwheba .eventBox span{
    width: 100%;
    display: inline-block;
  }
  .Mwheba .eventBox i{
    margin-left: 5px;
  }
  .Mwheba .eventBox span.eventDay{
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
  }
  .Mwheba .eventBox span.eventMonth{
    font-size: 20px;
    text-align: center;
  }
  .Mwheba .eventBox span.eventTitle{
    font-size: 13px;
    color:#333333;
  }
  .Mwheba .eventBox span.eventDecription{
    font-size: 18px;
    color:#000000;
  }
  .Mwheba .eventBtn{
    background-color: #1A4AB9;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 25px;
    -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
margin-top: 10px;
margin-bottom: 5px;
display: inline-block;
  }

  .Mwheba .eventBtn:hover{
    background-color: #0f358e;
    text-decoration: none;
  }

  .Mwheba .owl-theme .owl-dots .owl-dot span{
    margin: 0 3px;
    width: 8px;
    height: 8px;
  }

  .Mwheba .owl-theme .owl-dots .owl-dot.active span,
  .Mwheba .owl-theme .owl-dots .owl-dot:hover span {
    background: #1A4AB9;
}
.Mwheba header .closeMegaMenu{
  display: none;
}

html.oFH{
  overflow: hidden;
}
html.oFH:after{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.35);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}
.Mwheba .desktopHide{
  display: none;
}