/* general */
@import "../../frameworks/bootstrap/css/bootstrap.min.css";
@import "main-ar.css";
@import "header-ar.css";

/* icons */
@import "../../icons/style.css";
/* End of General */



/* font */
@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../../fonts/din next/DINNextLTArabic-Bold.eot');
  src: url('../../fonts/din next/DINNextLTArabic-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/din next/DINNextLTArabic-Bold.woff2') format('woff2'),
      url('../../fonts/din next/DINNextLTArabic-Bold.woff') format('woff'),
      url('../../fonts/din next/DINNextLTArabic-Bold.ttf') format('truetype'),
      url('../../fonts/din next/DINNextLTArabic-Bold.svg#DINNextLTArabic-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../../fonts/din next/DINNextLTArabic-Black.eot');
  src: url('../../fonts/din next/DINNextLTArabic-Black.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/din next/DINNextLTArabic-Black.woff2') format('woff2'),
      url('../../fonts/din next/DINNextLTArabic-Black.woff') format('woff'),
      url('../../fonts/din next/DINNextLTArabic-Black.ttf') format('truetype'),
      url('../../fonts/din next/DINNextLTArabic-Black.svg#DINNextLTArabic-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../../fonts/din next/DINNextLTArabic-Heavy.eot');
  src: url('../../fonts/din next/DINNextLTArabic-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/din next/DINNextLTArabic-Heavy.woff2') format('woff2'),
      url('../../fonts/din next/DINNextLTArabic-Heavy.woff') format('woff'),
      url('../../fonts/din next/DINNextLTArabic-Heavy.ttf') format('truetype'),
      url('../../fonts/din next/DINNextLTArabic-Heavy.svg#DINNextLTArabic-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../../fonts/din next/DINNextLTArabic-Light.eot');
  src: url('../../fonts/din next/DINNextLTArabic-Light.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/din next/DINNextLTArabic-Light.woff2') format('woff2'),
      url('../../fonts/din next/DINNextLTArabic-Light.woff') format('woff'),
      url('../../fonts/din next/DINNextLTArabic-Light.ttf') format('truetype'),
      url('../../fonts/din next/DINNextLTArabic-Light.svg#DINNextLTArabic-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../../fonts/din next/DINNextLTArabic-Medium.eot');
  src: url('../../fonts/din next/DINNextLTArabic-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/din next/DINNextLTArabic-Medium.woff2') format('woff2'),
      url('../../fonts/din next/DINNextLTArabic-Medium.woff') format('woff'),
      url('../../fonts/din next/DINNextLTArabic-Medium.ttf') format('truetype'),
      url('../../fonts/din next/DINNextLTArabic-Medium.svg#DINNextLTArabic-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../../fonts/din next/DINNextLTArabic-Regular.eot');
  src: url('../../fonts/din next/DINNextLTArabic-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/din next/DINNextLTArabic-Regular.woff2') format('woff2'),
      url('../../fonts/din next/DINNextLTArabic-Regular.woff') format('woff'),
      url('../../fonts/din next/DINNextLTArabic-Regular.ttf') format('truetype'),
      url('../../fonts/din next/DINNextLTArabic-Regular.svg#DINNextLTArabic-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Next LT Arabic Ultra';
  src: url('../../fonts/din next/DINNextLTArabic-UltraLight.eot');
  src: url('../../fonts/din next/DINNextLTArabic-UltraLight.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/din next/DINNextLTArabic-UltraLight.woff2') format('woff2'),
      url('../../fonts/din next/DINNextLTArabic-UltraLight.woff') format('woff'),
      url('../../fonts/din next/DINNextLTArabic-UltraLight.ttf') format('truetype'),
      url('../../fonts/din next/DINNextLTArabic-UltraLight.svg#DINNextLTArabic-UltraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}