@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?53avhu');
  src:  url('fonts/icomoon.eot?53avhu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?53avhu') format('truetype'),
    url('fonts/icomoon.woff?53avhu') format('woff'),
    url('fonts/icomoon.svg?53avhu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-i-Icon:before {
  content: "\e916";
}
.icon-g-Icon:before {
  content: "\e910";
}
.icon-Facebook-Icon1:before {
  content: "\e911";
}
.icon-LinkedIn-Icon1:before {
  content: "\e912";
}
.icon-next1:before {
  content: "\e913";
}
.icon-Shape-7331:before {
  content: "\e914";
}
.icon-Twitter-Icon1:before {
  content: "\e915";
}
.icon-Path-460:before {
  content: "\e900";
}
.icon-Component-8--1:before {
  content: "\e901";
}
.icon-Facebook-Icon:before {
  content: "\e902";
}
.icon-Fill-951:before {
  content: "\e903";
}
.icon-Group-2511:before {
  content: "\e904";
}
.icon-ios-play:before {
  content: "\e905";
}
.icon-LinkedIn-Icon:before {
  content: "\e906";
}
.icon-next:before {
  content: "\e907";
}
.icon-Rectangle-563:before {
  content: "\e908";
}
.icon-Shape-733:before {
  content: "\e909";
}
.icon-Twitter-Icon:before {
  content: "\e90a";
}
.icon-cancel-circle:before {
  content: "\e90b";
}
.icon-keyboard_arrow_left-24px:before {
  content: "\e90c";
}
.icon-keyboard_arrow_left-24px1:before {
  content: "\e90d";
}
.icon-Group-2510:before {
  content: "\e90e";
}
.icon-Shape:before {
  content: "\e90f";
}
