<div class="ProgramsContainer">
    <span class="Filter">تصفية البرامج</span>
    <p-tabView class="STabs">
        <p-tabPanel header="برامج مشترك بها">
            <div class="CardContainer">
                <div class="ActivityCard">
                    <div class="d-flex h-50">
                        <img src="../../../assets/images/card1.png">
                        <img src="../../../assets/images/Fill2558.svg">
                        <i class="pi pi-ellipsis-v"></i>
                    </div>
                    <p class="CardTitle">الأولمبياد الوطني للإبداع</p>
                    <p class="CardLabel">حالة البرنامج</p>
                    <p class="CardStatus">تم سداد الرسوم</p>
                    <div class="ProgressBarCont">
                        <div class="ProgressLabels">
                            <p>مسار التقدم:</p>
                            <p>المرحلة الثانية</p>
                        </div>
                        <p-progressBar [value]="40"></p-progressBar>
                    </div>
                </div>
                <div class="ActivityCard">
                    <div class="d-flex h-50">
                        <img src="../../../assets/images/card4.png">
                        <img src="../../../assets/images/Fill2558.svg">
                        <i class="pi pi-check"></i>

                    </div>
                    <p class="CardTitle">برنامج موهبة للالتحاق بالجامعات المرموقة</p>
                    <p class="CardLabel">حالة المسابقة</p>
                    <p class="CardStatus">تم الانتهاء من التدريب المكثف</p>
                    <div class="ProgressBarCont">
                        <div class="ProgressLabels">
                            <p>مسار التقدم:</p>
                            <p>المستوى الثانى</p>
                        </div>
                        <p-progressBar class="GreenBar" [value]="60"></p-progressBar>
                    </div>
                </div>
                <div class="ActivityCard">
                    <div class="d-flex h-50">
                        <img src="../../../assets/images/card1.png">
                        <img src="../../../assets/images/Fill2558.svg">
                        <i class="pi pi-ellipsis-v"></i>
                    </div>
                    <p class="CardTitle">برنامج موهبة المتقدم في العلوم والرياضيات</p>
                    <p class="CardLabel">حالة البرنامج</p>
                    <p class="CardStatus">تم الانتهاء من التدريب المكثف</p>
                    <div class="ProgressBarCont">
                        <div class="ProgressLabels">
                            <p>مسار التقدم:</p>
                            <p>المرحلة الثانية</p>
                        </div>
                        <p-progressBar [value]="40"></p-progressBar>
                    </div>
                </div>
                <div class="ActivityCard">
                    <div class="d-flex h-50">
                        <img src="../../../assets/images/card5.png">
                        <img src="../../../assets/images/Fill2558.svg">
                    </div>
                    <p class="CardTitle">برنامج موهبة المتقدم في العلوم والرياضيات</p>
                    <p class="CardLabel">حالة البرنامج</p>
                    <p class="CardStatus">تم سداد الرسوم</p>
                    <div class="CountDownTimer">
                        <p>متبقى على بداية البرنامج</p>
                        <div class="Timer">
                            <div class="Time">
                                <span>05</span>
                                <span>يوم</span>
                            </div>
                            <span class="TimeDivider">:</span>
                            <div class="Time">
                                <span>12</span>
                                <span>ساعة</span>
                            </div>
                            <span class="TimeDivider">:</span>
                            <div class="Time">
                                <span>40</span>
                                <span>دقيقة</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ActivityCard">
                    <div class="d-flex h-50">
                        <img src="../../../assets/images/card5.png">
                        <img src="../../../assets/images/Fill2558.svg">
                        <i class="pi pi-check"></i>

                    </div>
                    <p class="CardTitle">برنامج سفراء موهبة</p>
                    <p class="CardLabel">حالة المسابقة</p>
                    <p class="CardStatus">تم الانتهاء من التدريب المكثف</p>
                    <div class="ProgressBarCont">
                        <div class="ProgressLabels">
                            <p>مسار التقدم:</p>
                            <p>المستوى الثانى</p>
                        </div>
                        <p-progressBar class="GreenBar" [value]="60"></p-progressBar>
                    </div>
                </div>
                <div class="ActivityCard">
                    <div class="d-flex h-50">
                        <img src="../../../assets/images/card6.png">
                        <img src="../../../assets/images/Fill2558.svg">
                    </div>
                    <p class="CardTitle">برنامج موهبة التأهيلي للغة الإنجليزية</p>
                    <p class="CardLabel">حالة البرنامج</p>
                    <p class="CardStatus">تم سداد الرسوم</p>
                    <div class="ProgressBarCont">
                        <div class="ProgressLabels">
                            <p>مسار التقدم:</p>
                            <p>المستوى الثانى</p>
                        </div>
                        <p-progressBar class="GreenBar" [value]="60"></p-progressBar>
                    </div>
                </div>
            </div>
            <!-- <div class="Containerd">
                <div class="Card"></div>
                <div class="Card"></div>
                <div class="Card"></div>
                <div class="Card"></div>
                <div class="Card"></div>
                <div class="Card"></div>
            </div> -->
        </p-tabPanel>
        <p-tabPanel header="برامج تم ترشيحك للتسجيل فيها">
            Content
        </p-tabPanel>
        <p-tabPanel header="برامج موصى بها لك">
            Content
        </p-tabPanel>
        <p-tabPanel header="برامجي السابقة">
            Content
        </p-tabPanel>
    </p-tabView>
</div>