<div #myLabel class="MainContainer" [ngClass]="{AR: shouldShow, EN: !shouldShow}">
  <div class="HeaderContent">
    <img class="logo" src="../../../assets/images/Group 2534.svg">
    <div class="HeaderTabsContainer">
      <app-header-tabs></app-header-tabs>
    </div>
    <div class="mr-auto Index9">
        <span class="DinM HelpCenter">قسم المساعدة</span>
        <span class="Notifications"></span>
        <span class="Lang en" (click)="shouldShow = !shouldShow">EN</span>
        <span class="Lang ar" (click)="shouldShow = !shouldShow">AR</span>
        <span class="SlideMenu">
            <img src="../../../assets/images/Group 2650.svg">
        </span>
    </div>
</div>
  <router-outlet></router-outlet>
</div>